<!DOCTYPE html>
<html lang='en'>
<head>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8' />
    <meta name='viewport' content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1'>
    <title>Muilessium (docs)</title> 

    <link rel='apple-touch-icon' sizes='180x180' href='../favicons/apple-touch-icon.png'>
    <link rel='icon' type='image/png' sizes='32x32' href='../favicons/favicon-32x32.png'>
    <link rel='icon' type='image/png' sizes='16x16' href='../favicons/favicon-16x16.png'>
    <link rel='manifest' href='../favicons/manifest.json'>
    <link rel='mask-icon' href='../favicons/safari-pinned-tab.svg' color='#050505'>
    <meta name='theme-color' content='#ffffff'>

    <link rel='prefetch' href='../muilessium.min.js?v={{ project.version }}'>
    <link rel='prefetch' href='../muilessium-ui.min.css?v={{ project.version }}'>
    <link rel='prefetch' href='../muilessium-ui.min.js?v={{ project.version }}'>

    <style>.-black{color:#000!important;fill:#000!important}.-grey-3{color:#9e9e9e!important;fill:#9e9e9e!important}.-green-3-bg{background:#4caf50!important}.-red-3-bg{background:#f44336!important}.-orange-3-bg{background:#ff9800!important}._smaller-1{font-size:.8em!important}._smaller-2{font-size:.72em!important}@media screen and (max-width:600px){._smaller-1,._smaller-2{font-size:1em!important}}@media screen and (max-width:400px){._smaller-1,._smaller-2{font-size:1em!important}}._bigger-0{font-size:1em!important}._bigger-2{font-size:1.56em!important}._line-1-25{line-height:1.25!important}._line-4r{line-height:4rem!important}._left{float:left!important}._right{float:right!important}._separate-1{margin-top:1rem!important;margin-bottom:1rem!important}._separate-3{margin-top:3rem!important;margin-bottom:3rem!important}._separate-5{margin-top:5rem!important;margin-bottom:5rem!important}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}aside,header{display:block}h1{font-size:2em;margin:.67em 0}main{display:block}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}img{border-style:none}svg:not(:root){overflow:hidden}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}*,:after,:before{margin:0;padding:0;box-sizing:border-box}html{height:100%;color:#000;background-color:#fff}body{display:flex;flex-direction:column;min-height:100%;min-width:320px}a{text-decoration:none}a,a:visited{color:#000}:focus{outline:none}div:empty:not(.indicator):not(.mui-navigation-toggle):not(._allow-empty):not(.mui-shadow-toggle):not(.scrollbar){display:none}h1,h2,h3{margin:0;padding:0;line-height:1.2}img{display:block;height:auto;max-width:100%}html{font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;font-size:calc(14px + 6*(100vw - 400px)/800);line-height:1.5}@media screen and (max-width:400px){html{font-size:14px}}@media screen and (min-width:1200px){html{font-size:20px}}h1{font-size:3.05em!important}h2{font-size:2.44em!important}h3{font-size:1.95em!important}.mui-button,a.mui-button{display:inline-block;position:relative;padding:0 1em;font-size:1rem;line-height:2;text-decoration:none;text-align:center;color:#fff;background:#1565c0;border:none;border-radius:.2rem}.mui-button:visited,a.mui-button:visited{color:#fff;background:#1565c0}.mui-content-container{position:relative;width:90%;max-width:1100px;margin:0 auto}.mui-content-container:after{content:"";display:table;clear:both}.mui-row{display:flex;flex:0 1 auto;flex-direction:row;flex-wrap:wrap}.mui-column{flex:0 0 auto;flex-grow:1;flex-basis:0;max-width:100%}@media screen and (max-width:400px){.mui-column{flex-basis:100%;max-width:100%}}.mui-column.-s12{flex-basis:100%;max-width:100%}@media screen and (min-width:600px){.mui-column.-m3{flex-basis:25%;max-width:25%}.mui-column.-m9{flex-basis:75%;max-width:75%}}.mui-header-logo{display:inline-block;line-height:4rem}.mui-header-logo>.link{color:#fff;text-decoration:none}.mui-image{margin-left:auto;margin-right:auto}.mui-image.-js-lazy-load{opacity:0}ul.mui-list{list-style-position:inside}ul.mui-list.-no-bullets{list-style:none}ul.mui-list .item:not(:first-of-type){margin-top:.5rem}.mui-page-header{position:relative;height:4rem;max-height:4rem;background:#000}.mui-page-header:after{content:"";display:table;clear:both}.mui-p{display:block;margin:0 auto;text-align:justify;text-align-last:left}.mui-scroll-fix{position:fixed;top:0;left:0;height:100vh;width:100%;z-index:100}.mui-svg-sprite{position:fixed}@media screen and (max-width:600px){aside{display:none!important}}a,a:visited{color:#1565c0}.mui-image.-docs.-logo{float:left;display:inline-block;height:3rem;width:3rem;margin:.5rem 1rem .5rem 0}.aside-navigation{padding:0 1rem}.source-code{background:#eeeeee;font-family:Menlo,"Bitstream Vera Sans Mono","DejaVu Sans Mono",Monaco,Consolas,monospace;font-size:.7rem;padding:1rem;white-space:pre-wrap;word-wrap:break-word;border-left:3px solid #9e9e9e}</style>
</head>
<body>
    <div class='mui-scroll-fix'></div>

    <header class='mui-page-header'>
        <div class='mui-content-container'>
            <div class='mui-header-logo _left'>
                <img class='mui-image -docs -logo -js-lazy-load' data-src='../muilessium.png' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' alt='logo'>
                <noscript>
                    <img class='mui-image -docs -logo' src='../muilessium.jpg' alt='Muilessium logo'>
                </noscript>
                <a class='link _right' href='../'>
                    <h1 class='heading _bigger-0 _line-4r'>Muilessium <span class='_smaller-2'>v{{ project.version }}</span></h1>
                </a>
            </div>
        </div>
    </header>

    <div class='mui-content-container'>

        <aside class='mui-column -s12 -m3 _right'>
            <div class='aside-navigation _smaller-1 _line-1-25 _separate-3' role='navigation'>
                <ul class='mui-list -no-bullets _separate-1'>
                    <li class='item'><a href='#overview'>Overview</a></li>
                    <li class='item'><a href='#muilessium-ui-overview'>Muilessium-UI</a></li>
                    <li class='item'><a href='#cdn'>CDN</a></li>
                    <li class='item'><a href='#globals-overview'>Globals</a></li>
                    <li class='item'><a href='#events-overview'>Events</a></li>
                    <li class='item'><a href='#store-overview'>Store</a></li>
                    <li class='item'><a href='#components-overview'>Components</a></li>
                    <li class='item'><a href='#controls-overview'>Controls</a></li>
                    <li class='item'><a href='#utils-overview'>Utils</a></li>
                    <li class='item'><a href='#lazy-loading-images-overview'>Lazy loading</a></li>
                </ul>
            </div>
        </aside>

        <main class='mui-column -s12 -m9'>
            <div class='mui-content-container'>

                <!-- overview -->
                <div class='_separate-3'>
                    <div class='mui-row'>
                        <a href='#overview'>
                            <h2 class='_bigger-2' id='overview'>Overview</h2>
                        </a>
                    </div>

                    <p class='mui-p _separate-1'>Muilessium is a front-end framework for simple websites - landings, blogs, etc.</p>

                    <div class='_separate-1'>
                        <a class='mui-button -green-3-bg -f-green-5-bg' href='https://github.com/sfi0zy/muilessium'>GitHub</a>
                        <a class='mui-button -red-3-bg -f-red-5-bg' href='https://www.npmjs.com/package/muilessium'>NPM</a>
                    </div>
                </div>
                <!-- /overview -->

                <!-- muilessium-ui overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a href='#muilessium-ui-overview'>
                            <h3 class='_bigger-2' id='muilessium-ui-overview'>Muilessium-UI</h3>
                        </a>
                    </div>
                    <div class='_smaller-2 -grey-3'>/src/muilessium-ui/</div>

                    <p class='mui-p _separate-1'><a href='../muilessium-ui'>Muilessium-UI</a> is the default set of components for Muilessium.</p>
                </div>
                <!-- /muilessium-ui overview -->

                <!-- CDN -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a href='#cdn'>
                            <h3 class='_bigger-2' id='cdn'>CDN</h3>
                        </a>
                    </div>
                    <div class='_separate-1'>
                        <div class='code-example _separate-1 _smaller-1'>
                            <pre class='source-code'>
&lt;script src='https://unpkg.com/muilessium/dist/muilessium.min.js'&gt;&lt;/script&gt;</pre>
                        </div>
                    </div>
                </div>
                <!-- /CDN -->

                <!-- Globals -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a href='#globals-overview'>
                            <h3 class='_bigger-2' id='globals-overview'>Global Variables</h3>
                        </a>
                    </div>
                    <div class='_smaller-2 -grey-3'>/src/muilessium/muilessium.js</div>
                    <p class='mui-p _separate-1'>Muilessium has one global entry point - window.Muilessium.</p>
                    <p class='mui-p _separate-1'>It has a number of useful fields:</p>
                    <ul class='mui-list _separate-1'>
                        <li class='item'><a href='#events-overview'>EVENTS</a> - events observer</li>
                        <li class='item'><a href='#store-overview'>STORE</a> - global store for data</li>
                        <li class='item'><a href='#factory-overview'>FACTORY</a> - the main factory of components</li>
                        <li class='item'><a href='#controls-overview'>KEYBOARD, MOUSE, TOUCHPAD</a> - utilities for controls</li>
                        <li class='item'><a href='#utils-overview'>UTILS</a> - a number of other useful utilities</li>
                        <li class='item'>DATA_TYPES - data types</li>
                        <li class='item'>DEPENDENCIES - some ependencies for internal usage</li>
                        <li class='item'>POLYFILLS - some polyfills for internal usage</li>
                    </ul>
                    <p class='mui-p -docs -hint _separate-1 -blue-1-bg'>Run "console.log(Muilessium)" on this page to see the full structure of it.</p>
                    <p class='mui-p'>A little example of the ajax request:</p>
                    <div class='_separate-1'>
                        <div class='code _smaller-1'>
                            <pre class='source-code'>const _      = Muilessium.UTILS;
const STORE  = Muilessium.STORE;
const EVENTS = Muilessium.EVENTS;

// This can be in the first module...
EVENTS.addEvent('data-updated');

// This can be in the second one...
EVENTS.addEventListener('data-updated', () =&gt; {
    console.log(STORE.get('my-data'));
});

// And this can be in th third module...
_.ajax.get('https://...', (responseText) =&gt; {
    STORE.set('my-data', responseText);
    EVENTS.fireEvent('data-updated');
});</pre>
                        </div>
                    </div>
                </div>
                <!-- /Globals -->

                <!-- events overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a href='#events-overview'>
                            <h3 class='_bigger-2' id='events-overview'>Events</h3>
                        </a>
                    </div>
                    <div class='_smaller-2 -grey-3'>/src/muilessium/events.js</div>

                    <p class='mui-p _separate-1'>Muilessium has a system of internal events.</p>
                    <p class='mui-p _separate-1'>The main methods are:</p>
                    <ul class='mui-list _separate-1 _smaller-1'>
                        <li class='item'>addEvent<span class='-grey-3'>(name)</span></li>
                        <li class='item'>addEventListener<span class='-grey-3'>(name, callback, executeIfAlreadyFired=false)</span></li>
                        <li class='item'>fireEvent<span class='-grey-3'>(name)</span></li>
                    </ul>
                    <p class='mui-p _separate-1'>It has default events:</p>
                    <ul class='mui-list _smaller-1'>
                        <li class='item'>resize-window</li>
                        <li class='item'>resize-window-height</li>
                        <li class='item'>resize-window-width</li>
                        <li class='item'>scroll</li>
                        <li class='item'>scroll-start</li>
                        <li class='item'>scroll-end</li>
                        <li class='item'>app-initialized</li>
                        <li class='item'>images-loaded</li>
                        <li class='item'>store-updated</li>
                    </ul>
                    <p class='mui-p _separate-1'>For example:</p>
                    <div class='_separate-1'>
                        <div class='code _smaller-1'>
                            <pre class='source-code'>const EVENTS = Muilessium.EVENTS;

EVENTS.addEvent('my-event');

EVENTS.addEventListener('my-event', (state) =&gt; {
    console.log(state);
    console.log('it works!');
});

EVENTS.addEventListener('scroll-start', () =&gt; {
    EVENTS.fireEvent('my-event');
});</pre>
                        </div>
                    </div>
                    <p class='mui-p -docs -hint _separate-1 -blue-1-bg'>All UI components have the similar methods to work with their local events.</p>
                </div>
                <!-- /events overview -->

                <!-- store overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a href='#store-overview'>
                            <h3 class='_bigger-2' id='store-overview'>Store</h3>
                        </a>
                    </div>
                    <div class='_smaller-2 -grey-3'>/src/muilessium/store.js</div>

                    <p class='mui-p _separate-1'>Muilessium has a global store. It should be used to store different data and share it between components.</p>
                    <p class='mui-p _separate-1'>The main methods are:</p>
                    <ul class='mui-list _separate-1 _smaller-1'>
                        <li class='item'>set<span class='-grey-3'>(path, data)</span></li>
                        <li class='item'>get<span class='-grey-3'>(path)</span></li>
                    </ul>
                    <p class='mui-p _separate-1'>For example:</p>
                    <div class='_separate-1'>
                        <div class='code _smaller-1'>
                            <pre class='source-code'>const STORE = Muilessium.STORE;

STORE.set('my-data.a', 'AAA');
STORE.set('my-data.b', 'BBB');

console.log(STORE.get('my-data.a') + STORE.get('my-data.b'));</pre>
                        </div>
                    </div>
                </div>
                <!-- /stores overview -->

                <!-- components overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a href='#components-overview'>
                            <h3 class='_bigger-2' id='components-overview'>Components</h3>
                        </a>
                    </div>
                    <div class='_smaller-2 -grey-3'>/src/muilessium/factory.js<br>/src/muilessium/base-component.js</div>

                    <p class='mui-p _separate-1'>Muilessium has a factory of components.</p>
                    <p class='mui-p _separate-1'>The main methods are:</p>
                    <ul class='mui-list _separate-1 _smaller-1'>
                        <li class='item'>registerComponent<span class='-grey-3'>(type, component)</span></li>
                        <li class='item'>create<span class='-grey-3'>(type, selector, options)</span></li>
                    </ul>
                    <p class='mui-p -docs -hint _separate-1 -blue-1-bg'>All components should extend the BaseComponent class.</p>
                    <p class='mui-p _separate-1'>For example:</p>
                    <div class='_separate-1'>
                        <div class='code _smaller-1'>
                            <pre class='source-code'>const FACTORY = Muilessium.FACTORY;

class MyComponent extends FACTORY.BaseComponent {
    constructor(element, options) {
        super(element, options);
        console.log('ok');
    }
}

FACTORY.registerComponent('MyComponent', MyComponent);
FACTORY.create('MyComponent', 'body'); // <-- we use body just for example

console.log(FACTORY.componentsCache.MyComponent);

</pre>
                        </div>
                    </div>

                    <p class='mui-p _separate-1'>The default set of components is <a href='../muilessium-ui/'>Muilessium-UI</a>. Examples listed below will use it.</p>

                    <p class='mui-p _separate-1'>If the main element of component has an ID, previously created component can be obtained using Muilessium.get(componentName, id):</p>
                    <div class='_separate-1'>
                        <div class='code _smaller-1'>
                            <pre class='source-code'>// Let we have an accordion with id='my-accordion'.

const accordion = Muilessium.get('Accordion', 'my-accordion');

accordion.unfoldAllItems();
</pre>
                        </div>
                    </div>
                    <p class='mui-p _separate-1'>Components can have local events. Their behavior is similar to the main <a href='#events-overview'>events observer</a>:</p>
                    <div class='_separate-1'>
                        <div class='code _smaller-1'>
                            <pre class='source-code'>// Let we have a checkbox.

const checkbox = Muilessium.get('Checkbox', 'my-checkbox');

checkbox.addEventListener('update-state', (state) =&gt; {
    console.log(state);
});
</pre>
                        </div>
                    </div>

                    <p class='mui-p _separate-1'>The BaseComponent have default methods:</p>

                    <ul class='mui-list _smaller-1 _separate-1'>
                        <li class='item'>initAria<span class='-grey-3'>()</span></li>
                        <li class='item'>initControls<span class='-grey-3'>()</span></li>
                        <li class='item'>initEvents<span class='-grey-3'>()</span></li>
                        <li class='item'>addEvent<span class='-grey-3'>(name)</span></li>
                        <li class='item'>addEventListener<span class='-grey-3'>(name, callback, executeIfAlreadyFired=false)</span></li>
                        <li class='item'>fireEvent<span class='-grey-3'>(name)</span></li>
                        <li class='item'>saveState<span class='-grey-3'>()</span></li>
                        <li class='item'>restoreState<span class='-grey-3'>()</span></li>
                    </ul>

                    <p class='mui-p _separate-1'>...and default fields:</p>

                    <ul class='mui-list _smaller-1 _separate-1'>
                        <li class='item'>domCache</li>
                        <li class='item'>state</li>
                        <li class='item'>savedStates</li>
                    </ul>

                    <p class='mui-p _separate-1'>Use or replace them and keep the structure of the components.</p>

                </div>
                <!-- components overview -->

                <!-- controls overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a href='#controls-overview'>
                            <h3 class='_bigger-2' id='controls-overview'>Controls</h3>
                        </a>
                    </div>
                    <div class='_smaller-2 -grey-3'>/src/muilessium/controls/keyboard.js<br>/src/muilessium/controls/mouse.js<br>/src/muilessium/controls/touchpad.js</div>

                    <p class='mui-p _separate-1'>Muilessium has a number of handy utilities for controls:</p>

                    <ul class='mui-list _smaller-1'>
                        <li class='item'>MOUSE
                            <ul class='mui-list'>
                                <li class='item'>onClick<span class='-grey-3'>(element, callback)</span></li>
                                <li class='item'>onMove<span class='-grey-3'>(element, callback)</span></li>
                                <li class='item'>onMouseOver<span class='-grey-3'>(element, callback)</span></li>
                                <li class='item'>onMouseOut<span class='-grey-3'>(element, callback)</span></li>
                            </ul>
                        </li>
                        <li class='item'>KEYBOARD
                            <ul class='mui-list'>
                                <li class='item'>onEnterPressed<span class='-grey-3'>(element, callback)</span></li>
                                <li class='item'>onSpacePressed<span class='-grey-3'>(element, callback)</span></li>
                                <li class='item'>onEscapePressed<span class='-grey-3'>(element, callback)</span></li>
                                <li class='item'>onTabPressed<span class='-grey-3'>(element, callback)</span></li>
                                <li class='item'>onShiftTabPressed<span class='-grey-3'>(element, callback)</span></li>
                                <li class='item'>onArrowUpPressed<span class='-grey-3'>(element, callback)</span></li>
                                <li class='item'>onArrowRightPressed<span class='-grey-3'>(element, callback)</span></li>
                                <li class='item'>onArrowDownPressed<span class='-grey-3'>(element, callback)</span></li>
                                <li class='item'>onArrowLeftPressed<span class='-grey-3'>(element, callback)</span></li>
                            </ul>
                        </li>
                        <li class='item'>TOUCHPAD
                            <ul class='mui-list'>
                                <li class='item'>onSwipeLeft<span class='-grey-3'>(element, callback)</span></li>
                                <li class='item'>onSwipeRight<span class='-grey-3'>(element, callback)</span></li>
                                <li class='item'>onSwipeUp<span class='-grey-3'>(element, callback)</span></li>
                                <li class='item'>onSwipeDown<span class='-grey-3'>(element, callback)</span></li>
                                <li class='item'>onPinchOut<span class='-grey-3'>(element, callback)</span></li>
                            </ul>
                        </li>
                    </ul>
                    <p class='mui-p _separate-1'>For example:</p>
                    <div class='_separate-1'>
                        <div class='code _smaller-1'>
                            <pre class='source-code'>const MOUSE    = Muilessium.MOUSE;
const KEYBOARD = Muilessium.KEYBOARD;
const TOUCHPAD = Muilessium.TOUCHPAD;

MOUSE.onMove(document, (event) =&gt; {
    console.log(event);
});</pre>
                        </div>
                    </div>
                </div>
                <!-- /controls overview -->

                <!-- utils overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a href='#utils-overview'>
                            <h3 class='_bigger-2' id='utils-overview'>Utils</h3>
                        </a>
                    </div>
                    <div class='_smaller-2 -grey-3'>/src/muilessium/utils.js</div>

                    <p class='mui-p _separate-1'>Muilessium has over 60 utilities:</p>

                    <ul class='mui-list _smaller-1'>
                        <li id='utils-ajax' class='item'>AJAX
                            <ul class='mui-list'>
                                <li class='item'>ajax.post<span class='-grey-3'>(url, data, successCallback, errorCallback)</span></li>
                                <li class='item'>ajax.postProtected<span class='-grey-3'>(url, data, callback)</span></li>
                                <li class='item'>ajax.get<span class='-grey-3'>(url, successCallback, errorCallback)</span></li>
                                <li class='item'>ajax.getProtected<span class='-grey-3'>(url, callback)</span></li>
                            </ul>
                        </li>
                        <li id='utils-aria' class='item'>WAI-ARIA
                            <ul class='mui-list'>
                                <li class='item'>aria.set<span class='-grey-3'>(element, property, value</span></li>
                                <li class='item'>aria.setRole<span class='-grey-3'>(element, role)</span></li>
                                <li class='item'>aria.removeRole<span class='-grey-3'>(element)</span></li>
                                <li class='item'>aria.setId<span class='-grey-3'>(element, id)</span></li>
                                <li class='item'>aria.get<span class='-grey-3'>(element, property)</span></li>
                                <li class='item'>aria.getRole<span class='-grey-3'>(element)</span></li>
                                <li class='item'>aria.toggleState<span class='-grey-3'>(element, state)</span></li>
                            </ul>
                        </li>
                        <li id='utils-attributes' class='item'>HTML attributes
                            <ul class='mui-list'>
                                <li class='item'>setAttribute<span class='-grey-3'>(element, attribute, value)</span></li>
                                <li class='item'>getAttribute<span class='-grey-3'>(element, attribute, defaultValue)</span></li>
                                <li class='item'>removeAttribute<span class='-grey-3'>(element, attribute)</span></li>
                            </ul>
                        </li>
                        <li id='utils-checks' class='item'>Checking
                            <ul class='mui-list'>
                                <li class='item'>isNode<span class='-grey-3'>(element)</span></li>
                                <li class='item'>isInPage<span class='-grey-3'>(element)</span></li>
                                <li class='item'>isNotInPage<span class='-grey-3'>(element)</span></li>
                                <li class='item'>ifExists<span class='-grey-3'>(element, callback)</span></li>
                                <li class='item'>ifNodeList<span class='-grey-3'>(element, callback)</span></li>
                                <li class='item'>isDescendant<span class='-grey-3'>(parent, child)</span></li>
                            </ul>
                        </li>
                        <li id='utils-css-classes' class='item'>CSS classes
                            <ul class='mui-list'>
                                <li class='item'>hasClass<span class='-grey-3'>(element, class)</span></li>
                                <li class='item'>hasNotClass<span class='-grey-3'>(element, class)</span></li>
                                <li class='item'>addClass<span class='-grey-3'>(element, class)</span></li>
                                <li class='item'>addClasses<span class='-grey-3'>(element, classes)</span></li>
                                <li class='item'>removeClass<span class='-grey-3'>(element, class)</span></li>
                                <li class='item'>removeClasses<span class='-grey-3'>(element, classes)</span></li>
                                <li class='item'>replaceClass<span class='-grey-3'>(element, class, newClass)</span></li>
                                <li class='item'>toggleClass<span class='-grey-3'>(element, class)</span></li>
                            </ul>
                        </li>
                        <li id='utils-focus-and-click' class='item'>Focus &amp; click
                            <ul class='mui-list'>
                                <li class='item'>makeElementFocusable<span class='-grey-3'>(element)</span></li>
                                <li class='item'>makeElementsFocusable<span class='-grey-3'>(elementsList)</span></li>
                                <li class='item'>makeElementNotFocusable<span class='-grey-3'>(element)</span></li>
                                <li class='item'>makeElementsNotFocusable<span class='-grey-3'>(elementsList)</span></li>
                                <li class='item'>getFocusableChilds<span class='-grey-3'>(element)</span></li>
                                <li class='item'>getAllFocusableElements<span class='-grey-3'>()</span></li>
                                <li class='item'>getNextFocusableElement<span class='-grey-3'>(element)</span></li>
                                <li class='item'>getPreviousFocusableElement<span class='-grey-3'>(element)</span></li>
                                <li class='item'>goToNextFocusableElement<span class='-grey-3'>(element)</span></li>
                                <li class='item'>goToPreviousFocusableElement<span class='-grey-3'>(element)</span></li>
                                <li class='item'>makeElementClickable<span class='-grey-3'>(element, callback, { mouse, keyboard }</span></li>
                                <li class='item'>makeElementsClickable<span class='-grey-3'>(element, childs, callback, { mouse, keyboard }</span></li>
                                <li class='item'>onFocus<span class='-grey-3'>(element, callback)</span></li>
                                <li class='item'>onBlur<span class='-grey-3'>(element, callback)</span></li>
                                <li class='item'>clearFocus<span class='-grey-3'>()</li>
                            </ul>
                        </li>
                        <li id='utils-scroll' class='item'>Scroll
                            <ul class='mui-list'>
                                <li class='item'>scrollTo<span class='-grey-3'>(element, callback)</span></li>
                                <li class='item'>scrollToTop<span class='-grey-3'>(callback)</span></li>
                                <li class='item'>scrollFire<span class='-grey-3'>(element, callback)</span></li>
                            </ul>
                        </li>
                        <li id='utils-viewport' class='item'>Viewport
                            <ul class='mui-list'>
                                <li class='item'>isInViewport<span class='-grey-3'>(element)</span></li>
                                <li class='item'>isAboveViewport<span class='-grey-3'>(element)</span></li>
                            </ul>
                        </li>
                        <li id='utils-uncategorized' class='item'>Uncategorized
                            <ul class='mui-list'>
                                <li class='item'>normalizeTabIndexes<span class='-grey-3'>()</span></li>
                                <li class='item'>layLoadImages<span class='-grey-3'>(callback)</span></li>
                                <li class='item'>initAnchorLinks<span class='-grey-3'>()</span></li>
                                <li class='item'>generateRandomString<span class='-grey-3'>(length)</span></li>
                                <li class='item'>stringify<span class='-grey-3'>(object)</span></li>
                                <li class='item'>extend<span class='-grey-3'>(target, sources)</span></li>
                                <li class='item'>debounce<span class='-grey-3'>(func, delay)</span></li>
                                <li class='item'>callOnce<span class='-grey-3'>(callback)</span></li>
                                <li class='item'>firstOfList<span class='-grey-3'>(list)</span></li>
                                <li class='item'>lastOfList<span class='-grey-3'>(list)</span></li>
                                <li class='item'>forEach<span class='-grey-3'>(list, callback, delay)</span></li>
                                <li class='item'>deepGet<span class='-grey-3'>(obj, path)</span></li>
                                <li class='item'>deepSet<span class='-grey-3'>(obj, path, data)</span></li>
                                <li class='item'>toLispCase<span class='-grey-3'>(str)</span></li>
                                <li class='item'>upperLimit<span class='-grey-3'>(value, max)</span></li>
                                <li class='item'>lowerLimit<span class='-grey-3'>(value, min)</span></li>
                            </ul>
                        </li>
                    </ul>
                    <p class='mui-p _separate-1'>For example:</p>
                    <div class='_separate-1'>
                        <div class='code _smaller-1'>
                            <pre class='source-code'>const _ = Muilessium.UTILS;

_.scrollToTop();</pre>
                        </div>
                    </div>
                </div>
                <!-- /utils overview -->

                <!-- lazy loading overview -->
                <div class='_separate-5'>
                    <div class='mui-row'>
                        <a href='#lazy-loading-images-overview'>
                            <h3 class='_bigger-2' id='lazy-loading-images-overview'>Lazy loading images</h3>
                        </a>
                    </div>
                    <div class='_smaller-2 -grey-3'>/src/muilessium/utils/uncategorized.js</div>

                    <p class='mui-p -docs -hint _separate-1 -blue-1-bg'>Don't forget to add "noscript" tag for search engines.</p>
                    <div class='code-example _separate-2 _smaller-1'>
                        <pre class='source-code'>
&lt;img class='mui-image -js-lazy-load'
    data-src='....'
    data-srcset='....'
    data-sizes='....'
    alt='Lazy loaded image'
    src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'&gt;

&lt;noscript&gt;
    &lt;img class='mui-image' src='...' alt='Same image for better SEO'&gt;
&lt;/noscript&gt;
</pre>
                    </div>
                </div>
                <!-- /lazy loading overview -->

            </div>
        </main>
    </div>

    <div class='mui-page-footer'>
        <span>Copyright &copy; Ivan Bogachev, 2016-2019</span>
    </div>

    <div class='mui-svg-sprite'>
        <svg version='1.1' xmlns='http://www.w3.org/2000/svg'>
            <symbol viewBox='0 0 512 512' id='mui-svg-icon--check'><path d='M186.301 339.893L96 249.461l-32 30.507L186.301 402 448 140.506 416 110z'></path></symbol>
            <symbol viewBox='0 0 512 512' id='mui-svg-icon--close'><path d='M405 136.798L375.202 107 256 226.202 136.798 107 107 136.798 226.202 256 107 375.202 136.798 405 256 285.798 375.202 405 405 375.202 285.798 256z'></path></symbol>
            <symbol viewBox='0 0 512 512' id='mui-svg-icon--arrow-down'><path d='M277.375 85v259.704l119.702-119.702L427 256 256 427 85 256l29.924-29.922 119.701 118.626V85h42.75z'></path></symbol>
            <symbol viewBox='0 0 512 512' id='mui-svg-icon--arrow-right'><path d='M85 277.375h259.704L225.002 397.077 256 427l171-171L256 85l-29.922 29.924 118.626 119.701H85v42.75z'></path></symbol>
            <symbol viewBox='0 0 512 512' id='mui-svg-icon--arrow-left'><path d='M427 234.625H167.296l119.702-119.702L256 85 85 256l171 171 29.922-29.924-118.626-119.701H427v-42.75z'></path></symbol>
            <symbol viewBox='0 0 512 512' id='mui-svg-icon--arrow-up'><path d='M277.375 427V167.296l119.702 119.702L427 256 256 85 85 256l29.924 29.922 119.701-118.626V427h42.75z'></path></symbol>
            <symbol viewBox='0 0 512 512' id='mui-svg-icon--star'><path d='M256 372.686L380.83 448l-33.021-142.066L458 210.409l-145.267-12.475L256 64l-56.743 133.934L54 210.409l110.192 95.525L131.161 448z'></path></symbol>
            <symbol viewBox='0 0 512 512' id='mui-svg-icon--hamburger'><path d='M64 384h384v-42.666H64V384zm0-106.666h384v-42.667H64v42.667zM64 128v42.665h384V128H64z'></path></symbol>
            <symbol viewBox='0 0 512 512' id='mui-svg-icon--spinner'><path d='M256 48c-75.033 0-144.531 40.658-181.373 106.107l-1.963 3.485 20.915 11.771 1.962-3.485C128.138 107.973 189.621 72 256 72c101.458 0 184 82.542 184 184a185.48 185.48 0 0 1-3.749 37.147l-.803 3.918 23.511 4.819.804-3.919A209.53 209.53 0 0 0 464 256c0-114.691-93.309-208-208-208zM416.459 346.119C383.862 404.027 322.379 440 256 440c-101.458 0-184-82.542-184-184 0-12.512 1.262-25.011 3.75-37.15l.803-3.918-23.511-4.819-.804 3.918A209.445 209.445 0 0 0 48 256c0 114.691 93.309 208 208 208 75.033 0 144.531-40.658 181.373-106.109l1.963-3.485-20.915-11.771-1.962 3.484z'></path><path d='M384 256l64 64 64-64zM0 256l64-64 64 64z'></path></symbol>
            <symbol viewBox='0 0 512 512' id='mui-svg-icon--tags'><path d='M472 239.2s-.1 0 0 0L282.1 48.1l-1.4-1.4h-.5c-7.5-7.2-16.1-10.9-27.1-11.1l-89.9-3.3-3.9-.1c-10.1.1-20 4.1-27.7 11.8l-27.1 27.2c7.4-6.6 16.6-10 26-10.1l3.8.1 89.8 3.3c11 .2 19.7 3.9 27.2 11.1h.5l1.4 1.4L443 268.1c10 10.8 10.7 28.2 0 38.9l29-28.9c10.6-10.7 10-28.1 0-38.9z'></path><path d='M428 282.5h.3L238.6 91.4l-1.3-1.4h-.3c-7.5-7.2-15.9-10.9-26.9-11.1L120 75.6l-4-.1c-9.2.1-18.2 3.4-25.6 9.8-.3.3-.7.6-1 .9l-1.2 1.2-44.3 44.5C35.8 140 32 150.8 32 161.4v.1l.1 3.8 5.9 87.9v1.9c1 7.9 4.2 15.6 9.6 22l5.1 4.9L239 470.4l2.8 2.8c10.7 9.4 27.1 9 37.3-1.3l13.1-13.2c.5-.4.9-.8 1.4-1.3l26.9-27c-.2.1-.3.2-.5.4l108.3-109.3c10.6-10.7 10.7-28.2-.3-39zm-317.4-143c6.6-4 14.3-6.3 22.6-6.3 23.9 0 43.4 19.4 43.4 43.4 0 8.3-2.3 16-6.3 22.6-7.6 12.5-21.3 20.8-37 20.8-23.9 0-43.4-19.4-43.4-43.4-.1-15.8 8.2-29.5 20.7-37.1z'></path></symbol>
        </svg>
    </div>

    <link rel='stylesheet' href='../muilessium-ui.min.css?v={{ project.version }}'>

    <style>
        @media screen and (max-width: 600px) {
            aside {
                display: none !important;
            }
        }

        a,
        a:visited {
            color: #1565c0;
        }

        a:hover,
        a:focus {
            color: #000000;
        }


        .mui-image.-docs.-logo {
            float: left;
            display: inline-block;
            height: 3rem;
            width: 3rem;
            margin: .5rem 1rem .5rem 0;
        }

        .mui-p.-docs.-hint {
            padding: 1rem;
        }


        .aside-navigation {
            padding: 0 1rem;
        }

        .source-code {
            background: #eeeeee;
            font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
            font-size: .7rem;
            padding: 1rem;
            white-space: pre-wrap;
            word-wrap: break-word;
            border-left: 3px solid #9e9e9e;
        }

    </style>

    <script src='../muilessium.min.js?v={{ project.version }}'></script>
    <script src='../muilessium-ui.min.js?v={{ project.version }}'></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-53893511-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
